{% extends 'main/base.html' %}

{% block content %}
    <h1>System Information</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in system_info.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><br>
    <a href="/" class="btn btn-danger">Back to main</a>
{% endblock %}
